<div style="width: 500px; margin: auto;">
    <div class="submit-form">
        <h4>Employee Project Mapping</h4>
      <div *ngIf="!submitted">
        <div class="form-group">
          <!-- <label for="name">Employee Department Mapping</label> -->
          <!-- <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="product.name"
            name="name"
          /> -->
          <div class="form-group">
            <label for="employee">Employee:</label>
            <select class="form-control" id="employee" required
            [(ngModel)]="product.name">
            <option 
            *ngFor="let employee of employees; let i = index">
            {{employee.name}}
            </option>
            </select>
          </div>
        </div>
  
        <div class="form-group">
            <label for="project">Projects:</label>
            <select class="form-control" multiple id="project" required
            [(ngModel)]="projects.name">
            <option 
            *ngFor="let project of projects; let i = index">
            {{project.name}}
            </option>
            </select>
        </div>
  
        <button (click)="createProduct()" class="btn btn-success">Create</button>
      </div>
  
      <div *ngIf="submitted">
        <h3>You successfully created a product!</h3>
        <button class="btn btn-success" (click)="newProduct()">New..</button>
      </div>
    </div>
  </div>