<div class="list row">
    <div class="col-md-8">
    </div>
    <div class="col-md-6">
      <h4>Employee Department List</h4>
      <table class="table" style="border: 1px solid #ddd;">
          <thead>
              <tr>
                <td>Employee Name</td>
                <td>Department</td>
               </tr>
            </thead>
        <tbody>
        <tr
            *ngFor="let empDepProject of productService.products; let i = index"
            [class.active]="i == currentIndex"
            (click)="setCurrentProduct(empDepProject, i)">
            <td>
                {{ empDepProject.user.name}}
            </td>
            <td>
                {{ empDepProject.department.name}}
            </td>
        </tr>
        </tbody>
    </table>

    </div>
    <div class="col-md-6">
        <h4>Employee Projects List</h4>
        <table class="table" style="border: 1px solid #ddd;">
            <thead>
                <tr>
                  <td>Employee Name</td>
                  <td>Project</td>
                 </tr>
              </thead>
          <tbody>
          <tr
              *ngFor="let userProduct of userProducts; let i = index"
              [class.active]="i == currentIndex"
              (click)="setCurrentProduct(userProduct, i)">
              <td>
                  {{ userProduct.user.name}}
              </td>
              <td>
                  {{ userProduct.project.name}}
              </td>
          </tr>
          </tbody>
      </table>
  
      </div>
  </div>