<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Employee-Department-Projects</a>
    <br/>
    <br/>
    <br/>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="employeeList" class="nav-link">Employee-Departments listing</a>
      </li>
      <br/>
      <li class="nav-item">
        <a routerLink="employeeDepartment" class="nav-link">Employee-Departments mapping</a>
      </li>
      <br/>
      <li class="nav-item">
        <a routerLink="employeeProject" class="nav-link">Employee-Projects mapping</a>
      </li>
    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>